body {
    background-color: #3b3b4f;
    color: #f5f6f7 !important;
  }

  @media screen and (max-width: 768px) {
      #navbar-close {
          display: none;
      }

      #navbar-open {
          display: none;
      }

      .navbar {
          display: block !important;
      }
  }

  @media screen and (min-width: 768px) {
    .navbar,
    .navbar .container-fluid {
      background-color: #0a0a23;
      position: fixed;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      flex-direction: column !important;
      width: 17vw;
      z-index: 1;

    }


    .navbar-nav {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column !important;
    }

    .navbar  {
        height: 100%;
    }

    .nav-link {
        margin-top: 50px;
    }

    #main-doc {
      margin-left: 17vw;
      padding: 1rem 0rem 1rem 1rem;
      width: 70vw;
      z-index: 500;

    }

    .navbar-brand {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 767px) {
    .navbar {
      position: fixed;
      background-color: #0a0a23;
      width: 100% !important;
      top: 0;
    }

    .nav-link {
      color: #f5f6f7;
    }
    .nav-link:hover {
      color: #3b3b4f !important;
    }

    #main-doc {
      padding: 5px;
      margin-top: 75px;
    }
  }

  .code-block {
    background-color: #0a0a23;
    padding: 5px 0px 5px 5px;
  }

  .navbar {
      /* hide sidenav by default */
      display: none;
  }


header {
    color: #f5f6f7;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 20px;
  }

  .navbar-open-container {
    color: #f5f6f7;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

    #navbar-close {
        padding: 20px 0px 0px 0px;
        text-decoration: none;
        /* transparent for issue with chrome */
        color: transparent;
        text-shadow: 0 0 0 rgb(233, 233, 233);
    }


  /* table */
  td {
    padding: 10px;
  }
  table {
    table-layout: fixed;
    width: 600px;
    margin: 0;
  }

  .row-title {
    width: 20px;
  }

  tr > th {
    text-align: center;
    /* center column of variables */
  }

  .table-desc {
    width: 30px;
  }

  .table-code {
    width: 40px;
  }

  tr,
  tr > * {
    border: solid 1px rgb(184, 184, 184);
  }
  /* table */

  @media screen and (max-width: 750px) {
    table {
      width: 100%;
    }
  }
